fastapi==0.109.0
uvicorn==0.29

SQLAlchemy==2.0.25
numpy==1.26.3

python-dotenv==1.0.1

cryptography==42.0.5
urllib3==2.1.0

yfinance==0.2.36

git+https://gitea.ksol.io/karolyi/py3-validate-email@v1.0.9